Source: yersinia
Section: admin
Priority: optional
Maintainer: Raphael Enrici <blacknoz@club-internet.fr>
Build-Depends: debhelper (>= 5.0.0), autotools-dev, libncurses5-dev (>=5.4-1), libnet1-dev (>=1.1.2-1), libpcap0.8-dev, libgtk2.0-dev
Standards-Version: 3.7.2

Package: yersinia
Architecture: any
Depends: ${shlibs:Depends}
Description: Network vulnerabilities check software
 Yersinia is a framework for performing layer 2 attacks. It is designed
 to take advantage of some weakeness in different network protocols. It
 pretends to be a solid framework for analyzing and testing the deployed
 networks and systems. 
 .
 Attacks for the following network protocols are implemented in this
 particular release:
  - Spanning Tree Protocol (STP).
  - Cisco Discovery Protocol (CDP).
  - Dynamic Trunking Protocol (DTP).
  - Dynamic Host Configuration Protocol (DHCP).
  - Hot Standby Router Protocol (HSRP).
  - 802.1q.
  - 802.1x.
  - Inter-Switch Link Protocol (ISL).
  - VLAN Trunking Protocol (VTP).
 .
  Homepage: http://www.yersinia.net/
